.inner-banner{
    background: url(/images/contact-banner.png) no-repeat center /cover; 
}
.blog-banner{
    background: url(/images/blog-Banner.png) no-repeat center /cover; 
}
.banner-height {
    max-height: 720px;
}
.mb-40 {
  margin-bottom: clamp(30px, 5vw, 40px);
}

/* Custom styles */
.contact-card {
    background-color: #b0f7b0;
    border-radius: 8px;
    padding: 32px;
    transition: transform 0.3s ease-in-out;
}

.contact-card:hover {
    transform: translateY(-10px);
}

.contact-icon {
    background-color: #fff;
    padding: 9px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 24px;
    width: 60px;
    height: 60px;
}
.breadcrum-bar {
  background: #f1f1f100;
  font-size: clamp(14px, 5.4176px + 0.7818vw, 18px);
  padding: 12px 0 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  color: #362d8600;
}
.breadmain {
  color: #929292;
  font-weight: 500;
  margin: 0 3px;
}
.slash-home {
  margin: 0 6px;
  color: #00C92C;
}
span.breadcrumb_last {
  color: #00C92C;
}
.top-navbar-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.our-port .nav-pills {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 10px;
}

.blog-layout-content .nav-pills {
  width: calc(100% - 220px);
}
.our-port .nav-pills .nav-link.active {
  border-bottom: 2px solid #00C92C;
  color: #00C92C;
  font-weight: 700;
  background: transparent;
}

.our-port .nav-pills .nav-link {
  font-weight: 700;
  font-size: clamp(14.5px, 6.128px + 0.7818vw, 20px);
  line-height: 22px;
  color: #000000;
  border-radius: 0;
  background: transparent;
  white-space: nowrap;
}
.blog-select-main-page {
  border: 1px solid #00C92C !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #00C92C;
  border-radius: 8px;
  white-space: nowrap;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  border: none;
  box-shadow: none !important;
}
.search-bar {
  position: relative;
  max-width: 218px;
}
.blog-layout-content .search-bar .fa-search {
  position: absolute;
  content: url(/images/search-icon.png);
  left: 16px;
  top: 11px;
  width: 18px;
  height: auto;
}
.blog-layout-content .search-bar input {
  border-radius: 8px;
  outline: none;
  height: 40px;
  border: 0;
  padding-right: 16px;
  padding-left: 43px;
  width: 100%;
  border: 1px solid #00C92C !important;
  color:#00C92C !important;
}
.blog-layout-content .search-bar input::placeholder {
    color:#00C92C !important;
}
.our-port.blog-layout-content .portfolio-tabs .our-work-card {
  height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 16px;
}
.our-port.blog-layout-content .portfolio-tabs .our-work-card:hover {
background-color: #fff;
}
ul.respo-pagination.pagination button {
  color: #000000;
  background: #FFFFFF;
  font-size: clamp(15.5px, 5.2544px + 1.05vw, 22px);
  font-weight: 600;
  border-radius: 4px !important;
  outline: none !important;
  box-shadow: none !important;
  min-width: 45px;
}
ul.respo-pagination.pagination .page-item.active button{
  background: #00C92C !important;
  color: #fff !important;
  border: none !important;
}
.our-port.blog-layout-content .our-work-card .work-card-img {
  display: flex;
}
ul.respo-pagination.pagination {
  justify-content: center;
  gap: 16px;
}
.our-port.blog-layout-content .portfolio-tabs .our-work-card .work-card-img img {
  min-height: 320px;
  height: 100%;
  max-height: 320px;
  border-radius: 16px;
}
.our-port.blog-layout-content .portfolio-tabs .our-wrok-footer {
  padding: 32px 24px 10px 24px;
  height: 100%;
}
.our-port.blog-layout-content .portfolio-tabs .our-wrok-footer .blog-content-top {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.blog-layout-content .blog-date {
  display: flex;
  gap: 6px;
}
.blog-layout-content .blog-date svg {
  height: 21px;
  width: auto;
}
.our-port.blog-layout-content .portfolio-tabs .our-wrok-footer .blog-content-top li span, .our-port.blog-layout-content .portfolio-tabs .our-wrok-footer .blog-content-top span {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #00C92C;
}
.date-content{
font-size: clamp(13px, 1.4vw, 16px) !important;
font-weight: 700 !important;
}
.our-port.blog-layout-content .portfolio-tabs .our-wrok-footer .small-title {
  font-style: normal;
  font-weight: 800;
  font-size: clamp(15.5px, 6.2544px + 1.05vw, 24px) !important;
  line-height: 28px;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.card-detail p {
  font-size: 13px;
  font-weight: 500;
}
.our-port.blog-layout-content .portfolio-tabs .apply-now-link {
  font-weight: 600;
  font-size: clamp(14px, 5.4176px + 0.7818vw, 18px);
  line-height: 22px;
  color: #00C92C;
  margin: 0 0 16px;
  padding: 0 16px;
display: flex;
align-items: center;
}
.blog-date span.car-value {
  font-size: 14px;
  font-weight: 400;
}
.blog-layout-content .apply-now-link span {
  font-weight: 600;
  font-size: 22px;
  line-height: 11px;
  color: #3e4095;
  display: block;
}
.blog-layout-content .cate-wrap {
  border-top: 1px solid #C7C7C7;
  padding: 12px 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  margin-left: auto;
  width: 93%;
  margin-right: 10px;
}


/* blog details page  */
.content {
  padding: 40px 0;
}
.content .faq-section .faq-left-side, .content .techinal-stack .container .left-side-content, section.content .container .left-side {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
 section.content .container .left-side h3 {
  margin-bottom: 20px !important;
}
 .content .left-side h3 {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: clamp(15.5px, 5.2544px + 1.05vw, 22px);
  line-height: 24px;
  color: #000000;
  margin-top: 0 !important;
  margin-bottom: .5rem !important;
}
 section.content .container .content-stick-scroll {
  max-height: 330px;
  overflow-y: auto;
}

 section.content .container .content-stick-scroll {
  padding-right: 20px;
}
 section.content .container .content-stick-scroll li {
  direction: ltr !important;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 1px;
}
 .content .left-side ul li button {
  line-height: inherit;
  margin-bottom: 12px;
  text-align: left;
  background: none;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #333;
}
 .content .left-side ul li.first-li button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  position: relative;
}
 .content .left-side ul li.first-li button:before {
  content: "";
  left: -25px;
  top: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #00C92C;
}
 .content .left-side ul li.first-li button:after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #00C92C -9.35%, #00C92C 99.99%);
  left: -22px;
  top: 5.5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.content .show-views {
  display: flex;
  justify-content: space-between;
  color: #00C92C;
}
.content .viewcount {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.content .sppker {
  color: #fff;
  background: #00C92C;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.content .viewcount .viewcount-number {
  display: flex;
  align-items: center;
  gap: 6px;
}
.content .shareicons {
  display: flex;
  justify-items: center;
  gap: 10px;
  color: #00C92C;
  align-items: center;
}
.content .shareicons p {
  font-size: 20px;
  font-weight: 700;
}
.icon {
  background: #F6B703;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
}
img.blog-detail-image {
  width: 100%;
  height: 100%;
}
.content hr {
  color: #AEAEAE !important;
  opacity: 1 !important;
}
.content .right-align.social-icons {
  display: flex;
  justify-content: end;
  gap: 14px;
  padding: 8px 0;
}
.content .single-post .right-side .blog-single-post-content.quick-summery {
  padding: 40px;
  margin: 20px 0 30px;
  background: rgb(54 45 134 / 7%);
  border-left: 5px solid rgb(54 45 134 / 9%);
  position: relative;
}
.content .table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.content .blog-content-title {
  font-size: 26px;
}
.content .blog-content-title, .content .blog-content-title-sub {
  font-weight: 800;
  color: #000000;
  margin-top: 1rem;
}
.content .blog-content-title{
  font-size: clamp(17px, 7px + 1.519vw, 36px);
}
.content .blog-content-title-sub{
  font-size: clamp(16.5px, 2.8px + 1.2vw, 28px);
}
 .content .right-side .content-desc {
  font-weight: 400;
  font-size: clamp(14.5px, 6.128px + 0.7818vw, 20px);
  line-height: 28px;
  color: #000;
}
.content .single-post .right-side a {
  color: #00C92C;
}
.content .viewcount p {
  font-size: clamp(14px, 5.4176px + 0.7818vw, 18px);
  font-weight: 700;
  color: #00C92C;
}











  /* Responsive Design */

  @media (max-width: 991px) {
    .search-bar {
      max-width: 200px;
  }
  .blog-select-main-page {
    background-position: center;
    background-size: 12px 12px;
  }
  ul.respo-pagination.pagination {
    margin-top: 10px;
  }
  ul#portfolioTab {
    margin-bottom: -7px !important;
  }
  }
  @media (max-width: 768px) {
    .contact-card {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 575px) {
    ul.respo-pagination.pagination {
      gap: 8px;
  }
  }
  @media (max-width: 480px) {
    .our-port.blog-layout-content .portfolio-tabs .our-work-card .work-card-img img {
      min-height: 280px;
      max-height: 280px;
    }
  }